.styleProducts{
    max-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d7ceceab;
    border-radius: 15px;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.cardContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 2rem;
    justify-content: space-between;
}

.card{
    background-color: #9e9797ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:space-between;
    border-radius: 10px;
    color: black;
    padding: 1rem 0.5rem;
    margin: 5px;
}

.descriptionBlock{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 4px 0 4px;
}
.titleProduct{
    width: 200px;
    height: 2rem;
    font-weight: 700;
    font-size: 15px;
    color: rgba(43, 41, 41, 0.658);
}
.priceProductBlock{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: flex-end;
    justify-content: flex-end;
}
.priceProduct{
    font-size:xx-large;
    color: green;
    font-weight: 700;
}

.oldPriceProduct{
    font-size: large;
    color: black;
    text-decoration: line-through;
    margin-left: 1rem;
}
.description{
    font-size: 12px;
    color: rgba(43, 41, 41, 0.658);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.containerImgBlock{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.btnBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem ;
    align-items: center;
    justify-content:center;
}
.buttonBin{
    width: 40px;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(199, 42, 14, 0.226);
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 1rem 1rem 0 4px ;
}
.button{
    width: 100%;
    height: 35px;
    font-size: small;
    border: 1px solid rgb(125, 199, 14);
    border-radius: 5px;
    background-color: transparent;
    color: rgb(125, 199, 14);
    margin-top: 1rem;
}
.button:hover{
    background-color: rgba(125, 199, 14, 0.171);
}

@media (max-width: 1814px) {
    .cardContainer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
    }
}

@media (max-width: 1170px) {
    .cardContainer{
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        gap: 5px;
    }

    .styleProducts{
      grid-column: 1;
      grid-row: 3;
    }
}

@media (max-width: 730px) {
    .cardContainer{
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        gap: 5px;
    }

    .styleProducts{
      grid-column: 1;
      grid-row: 3;
    }

    .containerImgBlock{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 610px) {
    .cardContainer{
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        gap: 5px;
    }

    .styleProducts{
      grid-column: 1;
      grid-row: 3;
    }

    .containerImgBlock{
        width: 150px;
        height: 150px;
    }

    .titleProduct{
        width: 150px;
        font-size: 13px;
    }

    .priceProduct{
        font-size: large;
    }
    
    .oldPriceProduct{
        font-size:medium;

    }
}