.btnBack {
    background-color: rgba(6, 65, 6, 0.274);
    color: rgb(0, 0, 0);
    padding: 5px 2rem;
    border-radius: 6px;
    font-size: small;
    border: none;
    margin-top: 2px;

}

.btnBack:hover {
    background-color: rgba(4, 44, 4, 0.404);
}

.pageCard {
    max-width: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    background-color: #D7CECE;
    border-radius: 15px;
    padding: 2rem;
    margin: 1rem 0;
}

.containerImgProduct{
    width: 600px;
    height: 330px;
    border-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.miniFotoProductContainer{
    width: 110px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 1rem;
    margin: 0 7px;
}

.containerImgExtra{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 2px 0;
}

.descriptionCard {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 4px 0 4px;
}

.name {
    font-weight: 700;
    font-size: 25px;
    color: rgba(22, 21, 21, 0.884);
    margin-top: 1rem;
}

.price {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 1rem 0 1rem 0;
}

.description {
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: rgba(43, 41, 41, 0.658);
    margin: 0;
}

.btnBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.buttonBin{
    width: 60px;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(199, 42, 14, 0.226);
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 1rem 1rem 0 4px ;
}

.buttonApp{
    width: 100%;
    background-color: rgb(6, 65, 6);
    color: white;
    padding: 1rem;
    border-radius: 6px;
    font-size: medium;
    margin-top: 1rem;
}

.buttonApp:hover{
    background-color: rrgb(4, 39, 4)
}


.containerImg{
    width: 600px;
    height: 800px;
    border-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

@media (max-width: 640px) {
    .pageCard {
        flex-direction: column;
        margin: 1rem 0;
    }
    .containerImgProduct{
        max-width: 100%;
        height: 450px;
    }

    .miniFotoProductContainer{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 1rem 0 0 0;
    }
    .containerImgExtra{
        margin: 0;
        width: 120px;
    }

    .descriptionCard{
        width: 100%;
    }
}

@media (max-width: 430px) {
    .containerImgExtra{
        width: 105px;
    }
}