.btnBack {
    width: 3rem;
    color: rgb(0, 174, 255);
    font-size: small;
    border: 1px solid rgba(0, 174, 255, 0.548);
    border-radius: 3px;

}

.btnBack:hover {
    background-color: rgba(0, 174, 255, 0.171);
}

.pageCard {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #D7CECE;
    border-radius: 15px;
    padding: 2rem;
}

.descriptionCard {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 4px 0 4px;
}

.name {
    font-weight: 700;
    font-size: 20px;
    color: rgba(43, 41, 41, 0.658);
    margin-top: 1rem;
}

.price {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 1rem 0 1rem 0;
}

.description {
    font-size: 12px;
    color: rgba(43, 41, 41, 0.658);
}

.btnBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem ;
    align-items: center;
    justify-content:center;
}
.buttonBin{
    width: 60px;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(199, 42, 14, 0.226);
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 1rem 1rem 0 4px ;
}
.button{
    width: 100%;
    height: 35px;
    font-size: small;
    border: 1px solid rgb(125, 199, 14);
    border-radius: 5px;
    background-color: transparent;
    color: rgb(125, 199, 14);
    margin-top: 1rem;
}
.button:hover{
    background-color: rgba(125, 199, 14, 0.171);
}


.containerImg{
    width: 600px;
    height: 800px;
    border-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (max-width: 640px) {
    .pageCard {
        flex-direction: column;
        margin: 2rem 0.5rem 0 0.5rem;
    }
}