a{
  text-decoration: none;
  color: black;
}

.preloader{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; 
  align-items: center;
  z-index: 99;
  padding:30px 0;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.wrapper{
  display: grid;
  gap: 10px;
  max-width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  margin: 2rem 0;
}

.productFor100{
  grid-column: 1;
  grid-row: 4;
}

@media (max-width: 1490px) {
  .wrapper {
    grid-template-columns: 0.5fr 2.5fr;
  }
}

@media (max-width: 1170px) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}